.flex {
  display: flex;
  align-items: center;
}

header {
  padding: 32px 160px;
  justify-content: space-between;
}

nav {
  gap: 12px;
}

#location {
  gap: 4px;
  padding: 10px 8px;
  border-radius: 6px;
  background-color: #ebe5f9;

  p {
    color: #4b2995;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
  }
}

#cart {
  background-color: #f1e9c9;
  padding: 8px;
  border-radius: 6px;
}
