* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.container.dark {
  color: white;
  background: url("../public/dark.png") center/cover no-repeat;
}
.container.light {
  color: black;

  background: url("../public/light.png") center/cover no-repeat;
}

/* Estilos do container do switch */
.toggle-container {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

/* Estilo do botão deslizante */
.toggle-switch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Posição do botão no tema claro */
.light .toggle-switch {
  left: 5px;
}

/* Posição do botão no tema escuro */
.dark .toggle-switch {
  transform: translateY(-50%) translateX(25px);
}

.imgPerfil {
  width: 112px;
  height: 111px;
  margin-bottom: -15px;
  border-radius: 100%;
}

.buttons button {
  width: 540px;
  height: 56px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.1);
}
.iconGit,
.iconInsta,
.iconYou,
.iconIn {
  margin-left: 26.25px;
}
.buttons.dark button {
  color: white;
}
.buttons.light button {
  color: black;
}
