* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --defaultFont: "Inter", sans-serif;
  --heading-1: 700 24px/100% var(--defaultFont);
  --heading-2: 700 14px/130% var(--defaultFont);
  --button: 600 14px/130% var(--defaultFont);
  --tag: 600 14px/130% var(--defaultFont);
  --body: 400 12px/130% var(--defaultFont);

  /* produto */

  --purple-light: #a881e6;
  --purple: #7450ac;
  --purple-dark: #523480;

  /* base*/

  --gray-100: #fbf9fe;
  --gray-200: #afabb6;
  --gray-300: #252529;
  --gray-400: #17171a;
  --gray-500: #111112;
  --gray-600: #0c0c0d;

  /* feedback */

  --sucess-lught: #4e995e;
  --sucess: #2f723d;

  /* cores de apoio */

  --pink: #db5bbf;
  --orange: #e07b67;
  --yellow: #bb9f3a;
  --green: #8cad51;
  --blue: #7b94cb;
  --pink-dark: #251622;
  --orange-dark: #261a17;
  --yellow-dark: #211e12;
  --green-dark: #1c2015;
  --blue-dark: #1a1d23;
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  background-color: var(--gray-500);
  
}
input{
  outline: none;
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 16;
  letter-spacing: 3%;
}
button{
  border: none;
  cursor: pointer;
}
.product-list{
  padding-top: 7.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 2.5rem;
}
